/* * {border: solid black 1px;}
 */
html{
    font-family: "font\NotoSerifJP-Light.otf";
    font-size: 10px;
    scroll-behavior: smooth;

}
body{
/*     background-color: #1e1c27; */
    color: #CCC;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 0 auto;
}

.slide {
    width: 100vw;
    height: 100vh;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;

  }
  .un {
    background: #1e1c27;
  }
  .deux {
    background: #1e1c27;
  }
  .trois {
    background: #1e1c27;
  }
  .quatre {
    background: #1e1c27;
  }
  .outer-wrapper{
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
  }


