/* * {border: solid black 1px;}
 */
*{
  scroll-behavior: smooth;
}
 html{
    font-family: "font\NotoSerifJP-Light.otf";
    font-size: 10px;
}
body{
  background-color: #1e1c27;
  color: #CCC;
  overflow-y: scroll;
  overflow-x: scroll;
  margin: 0 auto;
  padding: 0 auto;
}
/* LA BARRE DE NAVARRO */
nav {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
nav img{
  width: 100px;
}
ul{ 
  list-style-type: none; 
  margin: 0;
  padding: 0;
} 
li{
  text-decoration: none;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  z-index: 10000;
  flex-direction: row;
  justify-content: space-evenly;

}

.navbar a {
  float: left;
  display: block;
  color: #ccc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #1e1c27;
  color: #CCC;
}

.navbar a.active {
  background-color: #333;
  color: white;
}
.navbar img{
  width: 25px;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}
/* FIN */

/* L'ENFER DU SIDE SCROLLING */
.slide {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.one {
  background: #1e1c27;
}
.two {
  background: #1e1c27;
}
.three {
  background: #1e1c27;
}
.four {
  background: #1e1c27;
}
.Expériences, .Formations{
  display: inline-flex;
  flex-direction: row;
}

.outer-wrapper {
  width: -50vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y:auto;
  overflow-x: scroll;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display:none;
}
/* FIN */
/* ------------------------------------------------------- */

.one img{
  width: 50px;
}

.two img{
  width: 40px;
}

.Skills img{
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.two a{
  text-decoration: none;
}
.two{
  display: flex;
  flex-direction: row;
}
h1, h2{
  text-align: center;
}

/* ------------------------------------------------------- */
/* BOUTON */
#div  {text-align: center;}

.hide {opacity: 0;}
#template {
  display: inline-block;
  fill: none;
  stroke: #727272;
  stroke-width: 10px;
}
#list {
  fill: none;
  stroke: #727272;
  stroke-width: 10px;
}
.list {
  animation: list 1ms 0s ease 1 forwards;
}
@keyframes list {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#downloadarrow {
  fill: none;
  stroke: #595959;
  stroke-width: 10px;
  opacity: 0;
}
.downloadarrow {
  animation: downloadarrow 1s 0s infinite linear;
}
@keyframes downloadarrow {
  0% {
    opacity: 1;
    transform: translateY(-60px);
  }
  100% {
    opacity: 0.6;
    transform: translateY(-20px);
  }
}
#downloadtray {
  fill: none;
  stroke: #595959;
  stroke-width: 10px;
  opacity: 0;
}
.downloadtray {
  animation: downloadtray 0.5s 0s ease 1 forwards;
}
@keyframes downloadtray {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}
#tick {
  fill: none;
  stroke-width: 50px;
  opacity: 0;
}
.tick {
  animation: tick 1ms 0s ease 1 forwards;
}
@keyframes tick {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}
#tickround {
  stroke: lime;
  stroke-dasharray: 4000;
  stroke-linecap: round;
}
.tickdraw {
  animation: tickdraw 2s 0s linear;
}
@keyframes tickdraw {
  0% {
    stroke-dashoffset: 4000;
  }
  100% {
    stroke-dashoffset: 8000;
  }
}
.text {
  font-size: calc(100% + 20px); font-family: 'Stardos Stencil';
  margin: 50px 0px 0px 0px;
  font-size: x-large;
}
.Color {
  color: lime;
  transition: 1000ms all 1.6s linear;
}


/* FIN BOUTON */

/* TIMELINE */
/* Import */

/* Variables */
/* Base */
body {
  background: #252827;
  font-size: 16px;
}
p {
  font-weight: 300;
}

h1 {
  font-family: 'Saira', sans-serif;
  letter-spacing: 1.5px;
  color: white;
  font-weight: 400;
  font-size: 2.4em;
}
#timeline-content {
  margin-top: 0px;
  text-align: left;
}
/* Timeline */
.timeline {
  border-left: 4px solid #004ffc;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.8);
  margin-left: 20%;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.5em;
  font-size: 0.85em;
  padding-left: 25px;
  padding-right: 25px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 60%;
}
.timeline h2{
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 1em;
}
.timeline h3 {
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 1em;
}

.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -105px;
  color: rgba(255, 255, 255, 0.4);
  content: attr(data-date);
  text-align: center;
  font-weight: 100;
  font-size: 0.8em;
  width: 60px;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #004ffc;
  left: -32.85px;
  background: #313534;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

/* FIN DE TIMELINE */